@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);


body{
    font-family: "Lato", "Helvetica Neue", Arial;
}

h1{
    font-size: 42px;
    margin-bottom: 1.3em;
}


#info_box{
    height: 230px;

}

#info_table{
    width: 100%;
    font-size: 0.9em;

}

#info_table td.name{
    text-align: left !important;
}

#info_table td.value{
    text-align: right;
}


@media (max-width: 768px) {
    #legend{
        display: none;
    }
}


#map-container{
    padding-top: 1.0em;
}

.party-item{
    border-left: solid 14px;
    padding-left: 5px;
    margin-bottom: 0.5em;
}

.mumbai: hover {
    cursor: pointer;
    fill-opacity: 0.4;
}

.text-stuff{
    margin-bottom: 1.0em;
}

table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

@media (min-width: 992px) {
  .container {
    width: 850px;
  }
}
