h1{
    font-size: 32px;
}


#info_box{
    height: 230px;

}




#info_box .party-name{

}

#info_table{
    width: 100%;
    font-size: 0.9em;

}


#info_table td.name{
}

#info_table td.value{
    text-align: right;
}





@media (max-width: 768px) {
    #legend{
        display: none;
    }
}



#the-map{

}

#map-container{
    padding-top: 2.0em;
}






.party-item{
    border-left: solid 14px;
    padding-left: 5px;
    margin-bottom: 0.5em;
}

.party-name{
    border-left: solid 10px;
    margin-bottom: 2px;
    margin-top: 0;
    padding-left: 5px;
}


.text-stuff{
    margin-bottom: 1.0em;
}



@media (min-width: 992px) {
  .container {
    width: 850px;
  }
}











